<div class="row aboutSection">
  <div class="col-6 col-md-2 col-sm-2 marginLeft"><%= image_tag "codyorr.jpg" %></div>
  <div class="col col-md-8 col-sm-7 marginLeft"><h1>About Me</h1>
    <p>I was raised in Jourdanton, Texas and have lived in South Texas my entire life. After graduating from Texas A&M University-Corpus Christi with a Business Administration degree, I went to work in the oil and gas industry. I really enjoyed my experience and time in the oil field, but I always wanted to be a realtor. When I decided to pursue my dream, I did not hesitate.  Soon I received my license and began my career in real estate. As a realtor, I learned about new business techniques, and found rewarding opportunities meeting new people, and seeing new places. </p>
    <br>
    <p>When I am not helping my clients, I am enjoying the outdoors. Hunting occupies most of my free time in the winter.  During the summer, you can usually find me on a river fishing or relaxing.  My father introduced me to the outdoors as a young boy, and my love for nature and wildlife has grown ever since.</p>
    <button class="btn btn-large btn-success" href="/#/contact" ui-sref="contact">Contact Me</button>
    <br></br>
</div>
</div>