<div class="row">
  <div class="col-6 col-md-2 col-sm-2 marginLeft"><%= image_tag "codyorr.jpg" %></div>
  <div class="col col-md-8 col-sm-7 marginLeft"><h1>Cody Orr</h1>
  <h3>Realtor</h3>
  <h3>San Antonio, Texas</h3>
    <p>Cody Orr is a licensed Texas Real Estate Agent focusing on residential homes, residential lots, and acreage in San Antonio and the surrounding areas.   Additionally, he also specializes in farms and ranches in South Texas and the Hill Country.  Cody’s experience running a ranch gives him extensive knowledge of the area, the wildlife, and mineral resources in the region.  Cody’s emphasis on customer service, knowledge, and experience set him apart.</p>
    <br>
    <p>Whether you are looking to purchase your first home or you are a lifelong rancher looking to expand the family’s ranching business, I can help find exactly what you are looking for while assuring a smooth and enjoyable transaction.  If there is any way I can help you buy or sell your piece of Texas, I am ready to assist you.  Please contact me. </p>
</div>
</div>

<div class="row">

<div class="col-md-12 text-center logos">
                    <ul class="social-network social-circle">
                        <li><a href="http://www.realtor.com/realestateagents/Cody-Orr___3031845_355539571" target="_blank" class="icoRss socialLink" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.facebook.com/codyorr.realtor/" target="_blank" class="icoFacebook socialLink" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/codyorr_realtor" target="_blank" class="icoTwitter socialLink" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.google.com/maps/place/Cody+Orr+-+Realtor/@28.894235,-98.5317866,17z/data=!3m1!4b1!4m5!3m4!1s0x865da6e0483bfda9:0x60d4ef6cf7592e1d!8m2!3d28.894235!4d-98.5295979" target="_blank" class="icoGoogle socialLink" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/cody-orr-629885112/" target="_blank" class="icoLinkedin socialLink" title="Linkedin"><i class="fa fa-linkedin"></i>
                        </a></li>
                        <li><a href="https://medium.com/@codyorr" target="_blank" class="icoMedium socialLink" title="Medium"><i class="fa fa-medium"></i>
                        </a></li>
                        <li><a  target="_blank" href="https://www.yelp.com/biz/cody-orr-realtor-san-antonio" class="icoYelp socialLink" title="Yelp"><i class="fa fa-yelp"></i>
                        </a></li>
                        <li><a href="https://www.instagram.com/codyorr_realtor/" target="_blank" class="icoInstagram socialLink" title="Instagram"><i class="fa fa-instagram"></i>
                        </a></li>
                    </ul>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center footer">
                  <p id="footText">cody@essextexas.com</p>
                  <p id="footText">Cell/Text: 210-831-4420</p>
                  <p id="footText">Office: 210-495-8889</p>
                  <p id="footText">Fax: 210-568-4198</p>
                  <p id="footText">18756 Stone Oak Pkwy, Suite 200 San Antonio, TX 78258</p>
                  </div>
        </div>

