<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="brandName" href="/#/"><b>Cody Orr - Realtor</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="headers" ui-sref="home">Home</a></li>
        <li><a id="headers" href="/#/about" ui-sref="about">About Me</a></li>
        <li><a id="headers" href="/#/valuation" ui-sref="valuation">Property Valuation</a></li>
        <li><a id="headers" href="/#/listings" ui-sref="listings">MLS Listings</a></li>
        <li><a id="headers" href="/#/mortage" ui-sref="mortgage">Mortgage Information</a></li>
        <li><a id="headers" href="/#/blog" ui-sref="blog">Blog</a></li>
        <li><a id="headers" href="/#/contact" ui-sref="contact">Contact Me</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script src="https://use.fontawesome.com/7287667bcd.js"></script>

<ui-view></ui-view>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center logos">
                    <ul class="social-network social-circle">
                        <li><a href="http://www.realtor.com/realestateagents/Cody-Orr___3031845_355539571" target="_blank" class="icoRss socialLink" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="https://www.facebook.com/codyorr.realtor/" target="_blank" class="icoFacebook socialLink" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/codyorr_realtor" target="_blank" class="icoTwitter socialLink" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.google.com/maps/place/Cody+Orr+-+Realtor/@28.894235,-98.5317866,17z/data=!3m1!4b1!4m5!3m4!1s0x865da6e0483bfda9:0x60d4ef6cf7592e1d!8m2!3d28.894235!4d-98.5295979" target="_blank" class="icoGoogle socialLink" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/cody-orr-629885112/" target="_blank" class="icoLinkedin socialLink" title="Linkedin"><i class="fa fa-linkedin"></i>
                        </a></li>
                        <li><a href="https://medium.com/@codyorr" target="_blank" class="icoMedium socialLink" title="Medium"><i class="fa fa-medium"></i>
                        </a></li>
                        <li><a  target="_blank" href="https://www.yelp.com/biz/cody-orr-realtor-san-antonio" class="icoYelp socialLink" title="Yelp"><i class="fa fa-yelp"></i>
                        </a></li>
                        <li><a href="https://www.instagram.com/codyorr_realtor/" target="_blank" class="icoInstagram socialLink" title="Instagram"><i class="fa fa-instagram"></i>
                        </a></li>
                    </ul>
        </div>
        <div class="col-md-12 text-center footer">
                  <p id="footText">cody@essextexas.com | Cell/Text: 210-831-4420 | Office: 210-495-8889 | Fax: 210-568-4198</p>
                  <p id="footText">18756 Stone Oak Pkwy, Suite 200 San Antonio, TX 78258</p>
                  </div>
    </div>
  </div>
</div>
